USE [master]
GO
/****** Object:  Database [EnderChest]    Script Date: 04-12-2023 10:45:05 ******/
CREATE DATABASE [EnderChest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EnderChest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EnderChest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EnderChest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EnderChest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnderChest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnderChest]
GO
/****** Object:  Table [dbo].[EncryptedFile]    Script Date: 04-12-2023 10:45:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EncryptedFile](
	[Guid] [uniqueidentifier] NOT NULL,
	[SharedWithFileId] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_EncryptedFile] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SharedWith]    Script Date: 04-12-2023 10:45:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SharedWith](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[FileGuid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SharedWith] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 04-12-2023 10:45:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Guid] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFile]    Script Date: 04-12-2023 10:45:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[FileGuid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserFile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SharedWith]  WITH CHECK ADD  CONSTRAINT [FK_SharedWith_EncryptedFile] FOREIGN KEY([FileGuid])
REFERENCES [dbo].[EncryptedFile] ([Guid])
GO
ALTER TABLE [dbo].[SharedWith] CHECK CONSTRAINT [FK_SharedWith_EncryptedFile]
GO
ALTER TABLE [dbo].[SharedWith]  WITH CHECK ADD  CONSTRAINT [FK_SharedWith_User] FOREIGN KEY([UserGuid])
REFERENCES [dbo].[User] ([Guid])
GO
ALTER TABLE [dbo].[SharedWith] CHECK CONSTRAINT [FK_SharedWith_User]
GO
ALTER TABLE [dbo].[UserFile]  WITH CHECK ADD  CONSTRAINT [FK_UserFile_EncryptedFile] FOREIGN KEY([FileGuid])
REFERENCES [dbo].[EncryptedFile] ([Guid])
GO
ALTER TABLE [dbo].[UserFile] CHECK CONSTRAINT [FK_UserFile_EncryptedFile]
GO
ALTER TABLE [dbo].[UserFile]  WITH CHECK ADD  CONSTRAINT [FK_UserFile_User] FOREIGN KEY([UserGuid])
REFERENCES [dbo].[User] ([Guid])
GO
ALTER TABLE [dbo].[UserFile] CHECK CONSTRAINT [FK_UserFile_User]
GO
USE [master]
GO
